.modal-container {
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #2a4769 !important;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.modal-container-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 70vw;
  background-color: #D4DAE1;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px;
  padding-top: 0px;
  margin-top: 100px;
}
.toggle-button {
  background-color: #1CC88A;;
  align-self: center;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100% !important;
  opacity: 1;
  border-radius: 6px;
  font-size: large;
  transition: all ease 0.4s;
}

.modal-name,
.modal-region {
  color: #2a4769;
  box-sizing: border-box;
  /* background-color: var(--white); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 font-weight: 800;
  height: auto;
  font-size: 36px;
  margin: auto;
  outline: none;
  padding-top: 10px;
  padding-bottom: 20px;
  /* box-shadow: 2px 2px 10px grey; */
}
.modal-region {
  margin-bottom: 2rem;
}

.modal-container h2 {
  font-weight: 700;
  font-size: 40px;
  color:#1CC88A;
  /* animation: blink 1s linear infinite; */
}
@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }
.card-container {
  
  min-height: 50vh;
  background: transparent;
  place-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.card {
  width: 93%;
  padding: 1.5em;
  padding-left: 2em;
  padding-bottom: 0em;
  margin: 5px;
  margin-bottom: 2rem;
  display: grid;
  background: #FFFFFF;
  border: 1px solid #1CC88A;
  border-radius: 10px;
}

.title {
 
  width: 100%;
  text-align: left;
  margin: auto;
  position: relative;
  align-items: flex-start;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #1CC88A;
}
.title::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    inset: 0;
    height: 50%;
    
  }
  
  .title::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 20px;
    transform: translateY(-50%);
    
  }


.border {
  width: 50%;
  height: 2px;
  background: #07b725;
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
}
  .border::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 2px;
    width: 2px;
    height: 15px;
    background: #19d338;
  }


.card-two {
  display: grid;
  gap: 1em;
}

.box {
 text-align: left;
}

.box__text {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.box__title {
  color: #19d338;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  width: max-content;
  background: #fafafa;
  
}
.box__title::before{
  position: absolute;
  content: '';
  background: #19d338;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120%;
  height: 3px;
  z-index: -10;
}
.box__desc {
  
  color: #455E7C;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
}
.box__text {
  padding: 0;
}
@media(max-width:612px){
  .box__desc {
    font-size: 12px;
  }
  .card-container{
    display: grid;
    padding-bottom: 0;
    padding: 0;
  }
  .card{
    width: 80%;
    padding: 1em;
    margin: 5px;
    display: grid;
    background: #fafafa;
    border-radius: 10px;
  }
  .modal-name,
.modal-region {
  font-size: 20px;
  padding: 10px;
  width: auto;
}
.modal-container h2 {
  font-size: 30px;
}
.modal-container{
  padding: 0;
}
.modal-container-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 80vw;
  background-color: #D4DAE1;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
}
}