:root {
  --background-color: #2a4769;
  --foreground-color: #d4dae1;
  --white: #fff;
  --black: #000;
  --grey: rgb(118, 118, 118);
  --text-green: #1cc88a;
  --text-blue: #2a4769;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}
